<main>
  <section class="cards">
    <app-card
      title="Título do Card 1"
      content="Conteúdo do card 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna."
    ></app-card>
    <app-card
      title="Título do Card 2"
      content="Conteúdo do card 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna."
    ></app-card>
    <app-card
      title="Título do Card 3"
      content="Conteúdo do card 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna."
    ></app-card>
  </section>
</main>
